.nav-1 {
    height: 48px;
    border: 1px solid #ddd;
    background-color: white
}
.bg-menu{
    background: #ddd;
}
.menu a{
    text-decoration: none;
    color: #666;
    font-size: 15px;
    border: none;
}
.menu a:hover{
    background: white;
    color: #dd3333;

}
.rateting {
    width: 40px;
    height: 40px;
    background-color: #03ae03;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-family: arial;
}

.food-name {
    text-transform: capitalize;
    color: #000;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
}

.food-address {
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.food-address1 {
    font-size: 12px;
    color: #888;
    white-space: nowrap;
    font-family: arial;
    line-height: 1.4em;
}

.food-address2 {
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.food-address4 {
    text-transform: capitalize;
    color: #000;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
}

.name-info {
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px
}

.name-user {
    text-decoration: none;
    color: #111;
    font-size: 12px;
    font-family: arial;
    line-height: 1.4em;
    font-weight: bold;
    display: inherit;
    cursor: pointer;
}

.user-comment {
    color: #555;
    text-align: justify;
    font-family: arial;
    font-size: 12px;
}

.card-info {
    color: #888;
}

.card-info .user-icon {
    font-weight: normal;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.card-info .user-number {
    color: #888;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    line-height: 1.4em;
    padding-right: 8px;
}